<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Gamegineer IDE">
    <locations>
        <location path="${env_var:GAMEGINEER_ECLIPSE_HOME}" type="Profile" />
        <location path="${workspace_loc}/org.gamegineer.builder/target" type="Directory" />
    </locations>
</target>
