<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Gamegineer IDE">

   <location path="${project_loc}/target"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="${eclipse_home}"/>
      </extraLocations>
   </content>

</target>
