<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            point="org.gamegineer.table.core.componentStrategies">
        <componentStrategy
                className="org.gamegineer.cards.internal.core.strategies.ComponentStrategyExtensionFactory"
                id="org.gamegineer.cards.componentStrategies.card" />
        <componentStrategy
                className="org.gamegineer.cards.internal.core.strategies.ComponentStrategyExtensionFactory"
                id="org.gamegineer.cards.componentStrategies.cardPile" />
    </extension>
    <extension
            point="org.gamegineer.table.core.componentSurfaceDesigns">
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardPileSurfaceDesigns.base"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardPileSurfaceDesigns.default"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.default"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.back.blue"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.back.red"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.ace"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.two"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.three"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.four"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.five"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.six"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.seven"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.eight"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.nine"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.ten"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.jack"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.queen"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.clubs.king"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.ace"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.two"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.three"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.four"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.five"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.six"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.seven"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.eight"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.nine"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.ten"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.jack"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.queen"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.diamonds.king"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.ace"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.two"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.three"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.four"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.five"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.six"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.seven"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.eight"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.nine"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.ten"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.jack"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.queen"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.hearts.king"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.ace"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.two"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.three"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.four"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.five"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.six"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.seven"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.eight"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.nine"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.ten"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.jack"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.queen"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.spades.king"
                width="71" />
        <componentSurfaceDesign
                height="96"
                id="org.gamegineer.cards.cardSurfaceDesigns.special.joker"
                width="71" />
    </extension>

</plugin>
