<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point
            id="componentPrototypes"
            name="%extensionPoint.componentPrototypes.name"
            schema="schema/componentPrototypes.exsd" />
    <extension-point
            id="componentStrategyUIs"
            name="%extensionPoint.componentStrategyUIs.name"
            schema="schema/componentStrategyUIs.exsd" />
    <extension-point
            id="componentSurfaceDesignUIs"
            name="%extensionPoint.componentSurfaceDesignUIs.name"
            schema="schema/componentSurfaceDesignUIs.exsd" />

</plugin>
