<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point
            id="componentStrategies"
            name="%extensionPoint.componentStrategies.name"
            schema="schema/componentStrategies.exsd" />
    <extension-point
            id="componentSurfaceDesigns"
            name="%extensionPoint.componentSurfaceDesigns.name"
            schema="schema/componentSurfaceDesigns.exsd" />
    <extension-point
            id="containerLayouts"
            name="%extensionPoint.containerLayouts.name"
            schema="schema/containerLayouts.exsd" />

</plugin>
