<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
        <application
                cardinality="singleton-global"
                thread="main"
                visible="true">
            <run class="org.gamegineer.table.internal.product.Application" />
        </application>
    </extension>
    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                application="org.gamegineer.table.product.application"
                description="%product.description"
                name="%product.name">
            <property
                 name="windowImages"
                 value="icons/application-16.png,icons/application-32.png,icons/application-48.png,icons/application-64.png" />
        </product>
    </extension>

</plugin>
