<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point
            id="cardDesigns"
            name="Card Designs"
            schema="schema/cardDesigns.exsd" />

    <extension
            point="org.gamegineer.table.core.cardDesigns">
        <cardDesign
                height="96"
                id="org.gamegineer.cards.back.thatch"
                width="71" />
        <cardDesign
                height="96"
                id="org.gamegineer.cards.spades.ace"
                width="71" />
    </extension>

</plugin>
