<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point
            id="cardPileBaseDesigns"
            name="Card Pile BaseDesigns"
            schema="schema/cardPileBaseDesigns.exsd" />
    <extension-point
            id="cardSurfaceDesigns"
            name="Card Surface Designs"
            schema="schema/cardSurfaceDesigns.exsd" />

    <extension
            point="org.gamegineer.table.core.cardPileBaseDesigns">
        <cardPileBaseDesign
                height="96"
                id="org.gamegineer.cardPileBases.default"
                width="71" />
    </extension>
    <extension
            point="org.gamegineer.table.core.cardSurfaceDesigns">
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.back.blue"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.back.red"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.ace"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.two"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.three"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.four"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.five"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.six"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.seven"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.eight"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.nine"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.ten"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.jack"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.queen"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.clubs.king"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.ace"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.two"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.three"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.four"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.five"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.six"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.seven"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.eight"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.nine"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.ten"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.jack"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.queen"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.diamonds.king"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.ace"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.two"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.three"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.four"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.five"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.six"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.seven"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.eight"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.nine"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.ten"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.jack"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.queen"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.hearts.king"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.ace"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.two"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.three"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.four"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.five"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.six"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.seven"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.eight"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.nine"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.ten"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.jack"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.queen"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.spades.king"
                width="71" />
        <cardSurfaceDesign
                height="96"
                id="org.gamegineer.cardSurfaces.special.joker"
                width="71" />
    </extension>

</plugin>
