<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension-point
            id="componentPrototypes"
            name="%extensionPoint.componentPrototypes.name"
            schema="schema/componentPrototypes.exsd" />
    <extension-point
            id="componentStrategyUIs"
            name="%extensionPoint.componentStrategyUIs.name"
            schema="schema/componentStrategyUIs.exsd" />
    <extension-point
            id="componentSurfaceDesignUIs"
            name="%extensionPoint.componentSurfaceDesignUIs.name"
            schema="schema/componentSurfaceDesignUIs.exsd" />

    <extension
            point="org.gamegineer.table.ui.componentPrototypes">
        <category
                id="org.gamegineer.componentPrototypes.category.card"
                mnemonic="%componentPrototype.category.card.mnemonic"
                name="%componentPrototype.category.card.name" />
        <category
                id="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.category.card.clubs.mnemonic"
                name="%componentPrototype.category.card.clubs.name"
                parentCategory="org.gamegineer.componentPrototypes.category.card" />
        <category
                id="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.category.card.diamonds.mnemonic"
                name="%componentPrototype.category.card.diamonds.name"
                parentCategory="org.gamegineer.componentPrototypes.category.card" />
        <category
                id="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.category.card.hearts.mnemonic"
                name="%componentPrototype.category.card.hearts.name"
                parentCategory="org.gamegineer.componentPrototypes.category.card" />
        <category
                id="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.category.card.spades.mnemonic"
                name="%componentPrototype.category.card.spades.name"
                parentCategory="org.gamegineer.componentPrototypes.category.card" />
        <category
                id="org.gamegineer.componentPrototypes.category.card.special"
                mnemonic="%componentPrototype.category.card.special.mnemonic"
                name="%componentPrototype.category.card.special.name"
                parentCategory="org.gamegineer.componentPrototypes.category.card" />
        <category
                id="org.gamegineer.componentPrototypes.category.deck"
                mnemonic="%componentPrototype.category.deck.mnemonic"
                name="%componentPrototype.category.deck.name" />
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.ace.mnemonic"
                name="%componentPrototype.card.clubs.ace.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.ace" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.two.mnemonic"
                name="%componentPrototype.card.clubs.two.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.two" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.three.mnemonic"
                name="%componentPrototype.card.clubs.three.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.three" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.four.mnemonic"
                name="%componentPrototype.card.clubs.four.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.four" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.five.mnemonic"
                name="%componentPrototype.card.clubs.five.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.five" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.six.mnemonic"
                name="%componentPrototype.card.clubs.six.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.six" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.seven.mnemonic"
                name="%componentPrototype.card.clubs.seven.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.seven" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.eight.mnemonic"
                name="%componentPrototype.card.clubs.eight.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.eight" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.nine.mnemonic"
                name="%componentPrototype.card.clubs.nine.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.nine" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.ten.mnemonic"
                name="%componentPrototype.card.clubs.ten.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.ten" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.jack.mnemonic"
                name="%componentPrototype.card.clubs.jack.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.jack" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.queen.mnemonic"
                name="%componentPrototype.card.clubs.queen.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.queen" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.clubs"
                mnemonic="%componentPrototype.card.clubs.king.mnemonic"
                name="%componentPrototype.card.clubs.king.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.clubs.king" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.ace.mnemonic"
                name="%componentPrototype.card.diamonds.ace.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.ace" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.two.mnemonic"
                name="%componentPrototype.card.diamonds.two.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.two" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.three.mnemonic"
                name="%componentPrototype.card.diamonds.three.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.three" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.four.mnemonic"
                name="%componentPrototype.card.diamonds.four.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.four" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.five.mnemonic"
                name="%componentPrototype.card.diamonds.five.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.five" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.six.mnemonic"
                name="%componentPrototype.card.diamonds.six.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.six" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.seven.mnemonic"
                name="%componentPrototype.card.diamonds.seven.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.seven" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.eight.mnemonic"
                name="%componentPrototype.card.diamonds.eight.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.eight" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.nine.mnemonic"
                name="%componentPrototype.card.diamonds.nine.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.nine" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.ten.mnemonic"
                name="%componentPrototype.card.diamonds.ten.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.ten" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.jack.mnemonic"
                name="%componentPrototype.card.diamonds.jack.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.jack" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.queen.mnemonic"
                name="%componentPrototype.card.diamonds.queen.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.queen" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.diamonds"
                mnemonic="%componentPrototype.card.diamonds.king.mnemonic"
                name="%componentPrototype.card.diamonds.king.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.diamonds.king" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.ace.mnemonic"
                name="%componentPrototype.card.hearts.ace.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.ace" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.two.mnemonic"
                name="%componentPrototype.card.hearts.two.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.two" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.three.mnemonic"
                name="%componentPrototype.card.hearts.three.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.three" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.four.mnemonic"
                name="%componentPrototype.card.hearts.four.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.four" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.five.mnemonic"
                name="%componentPrototype.card.hearts.five.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.five" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.six.mnemonic"
                name="%componentPrototype.card.hearts.six.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.six" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.seven.mnemonic"
                name="%componentPrototype.card.hearts.seven.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.seven" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.eight.mnemonic"
                name="%componentPrototype.card.hearts.eight.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.eight" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.nine.mnemonic"
                name="%componentPrototype.card.hearts.nine.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.nine" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.ten.mnemonic"
                name="%componentPrototype.card.hearts.ten.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.ten" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.jack.mnemonic"
                name="%componentPrototype.card.hearts.jack.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.jack" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.queen.mnemonic"
                name="%componentPrototype.card.hearts.queen.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.queen" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.hearts"
                mnemonic="%componentPrototype.card.hearts.king.mnemonic"
                name="%componentPrototype.card.hearts.king.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.hearts.king" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.ace.mnemonic"
                name="%componentPrototype.card.spades.ace.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.ace" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.two.mnemonic"
                name="%componentPrototype.card.spades.two.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.two" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.three.mnemonic"
                name="%componentPrototype.card.spades.three.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.three" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.four.mnemonic"
                name="%componentPrototype.card.spades.four.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.four" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.five.mnemonic"
                name="%componentPrototype.card.spades.five.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.five" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.six.mnemonic"
                name="%componentPrototype.card.spades.six.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.six" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.seven.mnemonic"
                name="%componentPrototype.card.spades.seven.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.seven" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.eight.mnemonic"
                name="%componentPrototype.card.spades.eight.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.eight" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.nine.mnemonic"
                name="%componentPrototype.card.spades.nine.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.nine" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.ten.mnemonic"
                name="%componentPrototype.card.spades.ten.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.ten" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.jack.mnemonic"
                name="%componentPrototype.card.spades.jack.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.jack" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.queen.mnemonic"
                name="%componentPrototype.card.spades.queen.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.queen" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.spades"
                mnemonic="%componentPrototype.card.spades.king.mnemonic"
                name="%componentPrototype.card.spades.king.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.spades.king" />
            </factory>
        </componentPrototype>
        <componentPrototype
                category="org.gamegineer.componentPrototypes.category.card.special"
                mnemonic="%componentPrototype.card.special.joker.mnemonic"
                name="%componentPrototype.card.special.joker.name">
            <factory class="org.gamegineer.table.internal.ui.prototypes.CardPrototypeFactory">
                <parameter name="backDesign" value="org.gamegineer.cardSurfaces.back.red" />
                <parameter name="faceDesign" value="org.gamegineer.cardSurfaces.special.joker" />
            </factory>
        </componentPrototype>
    </extension>
    <extension
            point="org.gamegineer.table.ui.componentStrategyUIs">
        <componentStrategyUI
                className="org.gamegineer.table.internal.ui.strategies.ComponentStrategyUIExtensionFactory"
                id="org.gamegineer.componentStrategies.card" />
        <componentStrategyUI
                className="org.gamegineer.table.internal.ui.strategies.ComponentStrategyUIExtensionFactory"
                id="org.gamegineer.componentStrategies.cardPile" />
        <componentStrategyUI
                className="org.gamegineer.table.internal.ui.strategies.ComponentStrategyUIExtensionFactory"
                id="org.gamegineer.componentStrategies.tabletop" />
    </extension>
    <extension
            point="org.gamegineer.table.ui.componentSurfaceDesignUIs">
        <componentSurfaceDesignUI
                icon="icons/cardPileBases/default.png"
                id="org.gamegineer.cardPileBases.default"
                name="%cardPileBase.default.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/back-blue.png"
                id="org.gamegineer.cardSurfaces.back.blue"
                name="%cardSurface.back.blue.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/back-red.png"
                id="org.gamegineer.cardSurfaces.back.red"
                name="%cardSurface.back.red.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-ace.png"
                id="org.gamegineer.cardSurfaces.clubs.ace"
                name="%cardSurface.clubs.ace.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-two.png"
                id="org.gamegineer.cardSurfaces.clubs.two"
                name="%cardSurface.clubs.two.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-three.png"
                id="org.gamegineer.cardSurfaces.clubs.three"
                name="%cardSurface.clubs.three.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-four.png"
                id="org.gamegineer.cardSurfaces.clubs.four"
                name="%cardSurface.clubs.four.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-five.png"
                id="org.gamegineer.cardSurfaces.clubs.five"
                name="%cardSurface.clubs.five.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-six.png"
                id="org.gamegineer.cardSurfaces.clubs.six"
                name="%cardSurface.clubs.six.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-seven.png"
                id="org.gamegineer.cardSurfaces.clubs.seven"
                name="%cardSurface.clubs.seven.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-eight.png"
                id="org.gamegineer.cardSurfaces.clubs.eight"
                name="%cardSurface.clubs.eight.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-nine.png"
                id="org.gamegineer.cardSurfaces.clubs.nine"
                name="%cardSurface.clubs.nine.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-ten.png"
                id="org.gamegineer.cardSurfaces.clubs.ten"
                name="%cardSurface.clubs.ten.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-jack.png"
                id="org.gamegineer.cardSurfaces.clubs.jack"
                name="%cardSurface.clubs.jack.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-queen.png"
                id="org.gamegineer.cardSurfaces.clubs.queen"
                name="%cardSurface.clubs.queen.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/clubs-king.png"
                id="org.gamegineer.cardSurfaces.clubs.king"
                name="%cardSurface.clubs.king.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-ace.png"
                id="org.gamegineer.cardSurfaces.diamonds.ace"
                name="%cardSurface.diamonds.ace.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-two.png"
                id="org.gamegineer.cardSurfaces.diamonds.two"
                name="%cardSurface.diamonds.two.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-three.png"
                id="org.gamegineer.cardSurfaces.diamonds.three"
                name="%cardSurface.diamonds.three.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-four.png"
                id="org.gamegineer.cardSurfaces.diamonds.four"
                name="%cardSurface.diamonds.four.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-five.png"
                id="org.gamegineer.cardSurfaces.diamonds.five"
                name="%cardSurface.diamonds.five.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-six.png"
                id="org.gamegineer.cardSurfaces.diamonds.six"
                name="%cardSurface.diamonds.six.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-seven.png"
                id="org.gamegineer.cardSurfaces.diamonds.seven"
                name="%cardSurface.diamonds.seven.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-eight.png"
                id="org.gamegineer.cardSurfaces.diamonds.eight"
                name="%cardSurface.diamonds.eight.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-nine.png"
                id="org.gamegineer.cardSurfaces.diamonds.nine"
                name="%cardSurface.diamonds.nine.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-ten.png"
                id="org.gamegineer.cardSurfaces.diamonds.ten"
                name="%cardSurface.diamonds.ten.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-jack.png"
                id="org.gamegineer.cardSurfaces.diamonds.jack"
                name="%cardSurface.diamonds.jack.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-queen.png"
                id="org.gamegineer.cardSurfaces.diamonds.queen"
                name="%cardSurface.diamonds.queen.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/diamonds-king.png"
                id="org.gamegineer.cardSurfaces.diamonds.king"
                name="%cardSurface.diamonds.king.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-ace.png"
                id="org.gamegineer.cardSurfaces.hearts.ace"
                name="%cardSurface.hearts.ace.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-two.png"
                id="org.gamegineer.cardSurfaces.hearts.two"
                name="%cardSurface.hearts.two.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-three.png"
                id="org.gamegineer.cardSurfaces.hearts.three"
                name="%cardSurface.hearts.three.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-four.png"
                id="org.gamegineer.cardSurfaces.hearts.four"
                name="%cardSurface.hearts.four.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-five.png"
                id="org.gamegineer.cardSurfaces.hearts.five"
                name="%cardSurface.hearts.five.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-six.png"
                id="org.gamegineer.cardSurfaces.hearts.six"
                name="%cardSurface.hearts.six.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-seven.png"
                id="org.gamegineer.cardSurfaces.hearts.seven"
                name="%cardSurface.hearts.seven.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-eight.png"
                id="org.gamegineer.cardSurfaces.hearts.eight"
                name="%cardSurface.hearts.eight.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-nine.png"
                id="org.gamegineer.cardSurfaces.hearts.nine"
                name="%cardSurface.hearts.nine.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-ten.png"
                id="org.gamegineer.cardSurfaces.hearts.ten"
                name="%cardSurface.hearts.ten.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-jack.png"
                id="org.gamegineer.cardSurfaces.hearts.jack"
                name="%cardSurface.hearts.jack.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-queen.png"
                id="org.gamegineer.cardSurfaces.hearts.queen"
                name="%cardSurface.hearts.queen.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/hearts-king.png"
                id="org.gamegineer.cardSurfaces.hearts.king"
                name="%cardSurface.hearts.king.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-ace.png"
                id="org.gamegineer.cardSurfaces.spades.ace"
                name="%cardSurface.spades.ace.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-two.png"
                id="org.gamegineer.cardSurfaces.spades.two"
                name="%cardSurface.spades.two.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-three.png"
                id="org.gamegineer.cardSurfaces.spades.three"
                name="%cardSurface.spades.three.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-four.png"
                id="org.gamegineer.cardSurfaces.spades.four"
                name="%cardSurface.spades.four.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-five.png"
                id="org.gamegineer.cardSurfaces.spades.five"
                name="%cardSurface.spades.five.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-six.png"
                id="org.gamegineer.cardSurfaces.spades.six"
                name="%cardSurface.spades.six.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-seven.png"
                id="org.gamegineer.cardSurfaces.spades.seven"
                name="%cardSurface.spades.seven.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-eight.png"
                id="org.gamegineer.cardSurfaces.spades.eight"
                name="%cardSurface.spades.eight.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-nine.png"
                id="org.gamegineer.cardSurfaces.spades.nine"
                name="%cardSurface.spades.nine.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-ten.png"
                id="org.gamegineer.cardSurfaces.spades.ten"
                name="%cardSurface.spades.ten.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-jack.png"
                id="org.gamegineer.cardSurfaces.spades.jack"
                name="%cardSurface.spades.jack.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-queen.png"
                id="org.gamegineer.cardSurfaces.spades.queen"
                name="%cardSurface.spades.queen.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/spades-king.png"
                id="org.gamegineer.cardSurfaces.spades.king"
                name="%cardSurface.spades.king.name" />
        <componentSurfaceDesignUI
                icon="icons/cardSurfaces/special-joker.png"
                id="org.gamegineer.cardSurfaces.special.joker"
                name="%cardSurface.special.joker.name" />
        <componentSurfaceDesignUI
                icon="icons/tabletops/default.png"
                id="org.gamegineer.tabletopSurfaceDesigns.default"
                name="%tabletopSurfaceDesigns.default.name" />
    </extension>

</plugin>
