<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
            point="org.gamegineer.game.core.gameSystems">
        <gameSystem
                class="org.gamegineer.tictactoe.core.system.TicTacToeGameSystemExtensionFactory"
                id="org.gamegineer.tictactoe" />
    </extension>

</plugin>
