<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
        <application
              thread="any">
            <run class="org.gamegineer.client.internal.product.console.Application" />
        </application>
    </extension>
    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                application="org.gamegineer.client.product.console.application"
                description="%product.console.description"
                name="%product.console.name">
        </product>
    </extension>

</plugin>
